jupyterlab
jupyter-client
jupyter-server
ipywidgets
jupyterlab-widgets
widgetsnbextension
pandas
xgboost
matplotlib
seaborn
scikit-learn
tqdm
polars
opencv-python
albumentations
timm
mypy
einops
papermill
torch
torchvision
torchaudio